<div class="comment">
    <div class="comment__info">
        {{ comment.user.login }} 
        ({{ comment.created_at|date("F jS, Y, H:i") }})
    </div>

    <hr />

    {{ comment.text|e }}
</div>
